{% extends 'home/home_base.html' %}

{% block content %}
<form action= {{form_action}} method="POST" class="register-form">
    <div class="row">
       <div class="col-md-4 col-sm-4 col-lg-4">
          <label for="username">USERNAME</label>
           <label for="firstName" id="status"></label>
           <input id="username" onkeyup="checkUsername();" name="username" class="form-control" type="text">
       </div>
    </div>

    <div class="row">
       <div class="col-md-4 col-sm-4 col-lg-4">
          <label for="password">PASSWORD</label>
           <input id="pass" name="password" class="form-control" type="password">
       </div>
    </div>
          <hr>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
            <button class="btn btn-default logbutton" formaction="\login\">Log in</button>
        </div>


    </div>
    <br/>
    <div class="row">
        <label>If you don't have a account yet, please </label><a class = "btn btn-default glyphicon glyphicon-hand-up" href="/signup/"> REGISTER</a>
    </div>

</form>
{% endblock %}
