
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% load staticfiles %}
 <link href="{% static 'css/terminal_textarea.css' %}" rel="stylesheet">

<div class="row col-lg-12">
    <div class='col-xs-6' id="to-do">
        <h3 class="page-header"> Stages </h3>
        <form id="form_upload" method="post" action="{% url 'upload' project_object.projectId %}"
              enctype="multipart/form-data" class="form-inline">
            {% csrf_token %}
        <div class="form-inline" style="padding-bottom: 20px">
            <label> Testing Stage </label>
            <div class="pull-right">
                <input  style="color:transparent;" name="test_files" multiple class="form-control" type="file" id ="input">
            </div>
        </div>
        <div class="form-inline" style="padding-bottom: 20px">
            <label> Test failure Stage </label>
            <div class="pull-right">
                <input  style="color:transparent;" name="test_failure_files" multiple class="form-control " type="file" id ="input1">
            </div>
        </div>
        <div class="form-inline">
            <label> Deploy Stage </label>
            <div class="pull-right">
                <input style="color:transparent;" name="deploy_files" multiple class="form-control " type="file" id ="input2">
            </div>
        </div>



            <button style="display:none;" id="btn_upload" class="btn btn-success" type="submit">upload</button>
        </form>
    </div>
    <div class='col-xs-6'>
        <div class="shell-wrap">
           <!--<p class="shell-top-bar"><Strong>.gitlab-ci.yml Preview</Strong></p>-->
          <ul class="shell-body">
              <li><strong>test:</strong>
                <ul id="list" class="shell-body">

                </ul>
              </li>
            <li><strong>test_failure:</strong>
                <ul id="list1" class="shell-body">
                </ul>
            </li>
            <li><strong>deploy:</strong>
                <ul id="list2" class="shell-body">
                </ul>
            </li>

          </ul>

        </div>

    </div>
</div>


<div class="row col-lg-12">
     <h3 class="page-header"> </h3>
    <div class="alert">
        <div class="text-right">
            <button id='run_job' data-toggle="modal" data-target="#myModal"
                    type="button" class="btn btn-success">Start the CI job!</button>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>

                  <h4 class="modal-title">Running Job</h4>
                </div>
                    <div class="modal-body">
                      {% load static %}
                        <span style="text-align:center" id="loading_img"><img src="{% static 'img/loading_small.gif' %}">
                            <h3 style="display:inline-block" id="job_status">preparing</h3></span>
                      <h3 id="job_result"></h3>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/pipeline_use.js' %}"></script>