{% extends 'mainpage/panel_base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class='col-xs-1' >
            </div>
            <div class="col-lg-10">
                <h1 class="page-header">
                    {{project_object.projectName}}
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-xs-1' id="to-do">
        </div>
        <div class="row col-xs-10" id="runner_status" data-ajax-target="/check_runner/">
            {% include 'mainpage/panel_detail_runnerDiv.html' %}
            {% include 'mainpage/panel_detail_localRepoDiv.html' %}
            {% include 'mainpage/panel_detail_stages.html'%}
        </div>
    </div>
    <script>
       $("#dash").addClass("active");
    </script>
{% endblock %}

{% block js %}
    {% load staticfiles %}
    <script src="{% static 'js/fetch_data.js' %}"></script>
{% endblock %}