{% extends 'mainpage/panel_base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{projectName}}
                </h1>
            </div>
        </div>
    </div>

    <div class="row" id="runner_status" data-ajax-target="/check_runner/">
        <div class="col-lg-12">
            <div class="alert alert-info ">
                <button type="button" class="close"  aria-hidden="false">×</button>
                <i class="fa fa-info-circle"></i>  Runner <strong> {{runner_name}} </strong> is <strong> {{status}} </strong>  <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">here</a> to view
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% load staticfiles %}
    <script src="{% static 'js/fetch_data.js' %}"></script>
{% endblock %}